<div class="menu-footer-block">
    <b>Workshop</b><br>
    <img
        src="https://hitwebcounter.com/counter/counter.php?page=7920860&style=0038&nbdigits=9&type=page&initCount=0"
        alt="Workshop counter"
        title="Workshop counter"
        loading="lazy"
    >
</div>

<div class="menu-footer-block" style="margin-top: 0.2rem;">
    <b><a href="https://cloudjourney.awsstudygroup.com/" style="color:inherit; text-decoration:none;">Cloud Journey</a></b><br>
    <img
        src="https://hitwebcounter.com/counter/counter.php?page=7830807&style=0038&nbdigits=9&type=page&initCount=0"
        alt="Cloud Journey counter"
        title="Cloud Journey counter"
        loading="lazy"
    >
</div>

<div class="menu-footer-block" style="margin-top: 0.75rem;">
    <b>Last Updated</b><br>
    <i><span id="lastUpdated" style="color:orange;"></span></i>
</div>

<div class="menu-footer-block" style="margin-top: 0.75rem;">
    <b>Team</b><br>
    <i><a href="https://www.facebook.com/groups/660548818043427" style="color:orange">First Cloud Journey</a></i>
</div>

<script>
    (function () {
        var lastUpdated = document.getElementById('lastUpdated');
        if (!lastUpdated) {
            return;
        }

        var today = new Date();
        lastUpdated.textContent = today.toLocaleDateString('en-GB');
    })();
</script>
